@import "./general/colors.css";

.filterCategoryContainer {
    border: 0.5px solid var(--dark);
    border-radius: 5px;
    margin: 2px 0;
    padding: 2px 5px;
    background-color: var(--mainColor);
    animation: fadeIn 1s;
}

.filterCategoryContainer:hover {
    cursor: pointer;
    background-color: var(--secondaryColor);
    color: var(--bright);
}

.filterCategoryFilter {
    width: 100%;
    font-weight: 500;
}

.filterCategoryCount {
    width: 100%;
}

.filterCategoryContainer p {
    margin: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Larger devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .filterCategoryFilter {
        font-size: 15px;
    }

    .filterCategoryCount {
        font-size: 12px;
    }
}

/* Smaller devices */
@media screen and (max-width: 991px) {
    .filterCategoryFilter {
        font-size: 12px;
    }

    .filterCategoryCount {
        font-size: 10px;
    }
}
