:root {
    --mainColor: #f3f5f7;
    --secondaryColor: #ffab26;
    --secondaryColorTint2: #ffbc51;
    --secondaryColorTint3: #ffe4b9;
    --tertiaryColor: #ebeef1;
    --dark: #212121;
    --bright: #f6f6f6;
    --errorColor: #b63838;
}
